@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    text-decoration: underline;
}

.prose td, .prose th {
    padding-left: 5px;
}

.prose h1 {
    margin-top: 5px;
    margin-bottom: 2px;
}

[type="text"], [type="email"], [type="url"], [type="password"],
select, textarea {
    padding-right: 2px !important;
    padding-left: 2px !important;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 2px solid #eee !important;
}

.prose {
    max-width: none;
}

.prose img {
    margin-top: 0px;
    margin-bottom: 0px;
}

.alert {
    padding: 0px;
}

.error {
    color: red;
}

.inputError {
    border: red solid 1px !important;
}

div:where(.swal2-container) div:where(.swal2-popup) {
    width: auto !important;
    max-width: 80% !important;
}

// Override SweetAlert2 styles
.swal2-confirm{
    background-color:blue;
    color: white;
}

.swal2-cancel {
    background-color: #6c757d !important; // Grey color
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}

.table :where(tbody th, tbody td) {
    background-color: unset;
}

#footer a {
    color: darkgray;
}